*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.Notifications {
  border: 1px dotted var(--pry-color);
  margin: 10px;
  padding: 10px;
}

ul li {
  margin-left: 40px;
}
[data-priority='default'] {
  color: #220c67;
}

[data-priority='urgent'] {
  color: red;
}

button img {
  height: 20px;
  width: 20px;
}
