.App-footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  padding-bottom: 20px;
  font-style: italic;

  /* And if you want the div to be full-width: */
  left: 0;
  right: 0;
}

.App-footer::before {
  content: '';
  overflow: hidden;
  display: block;
  border: 2px solid var(--pry-color);
  width: 100vw;
  margin-bottom: 20px;
}
